@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/// General Styling \\\
body {
	background-color: #F7F7F7;
	color: #000;
	font-family: "Barlow", "Segoe UI", "Arial", sans-serif;
	margin: 0;
}

a {
	color: #FFB200;
	text-decoration: none;
}

/// Form elements \\\
input[type=text], input[type=password] {
	background-color: white;
	color: #black;
	border: 1px solid #d4d4d4;
	padding: 5px;
}

/// Header & Footer \\\

header, footer {
	background-color: #FF9400;
	padding: 15px 0;
}

header {
	.navbar {
		max-width: 1000px;
		margin: auto;
		padding: 0 25px;

		.title {
			font-size: 16px;
			font-weight: bold;
		}

		.links {
			font-size: 16px;
			float: right;
		}
		
		a {
			color: white;
		}
	}

}

.container {
	max-width: 1280px;
	margin: 20px auto;
	padding: 0 20px;
	min-height: calc(100vh - 169px);
}

footer {
	max-height: 50px;
	min-height: 50px;
	line-height: 1.4;
	text-align: center;
}

/// Login/Register box \\\

.loginbox {
	background-color: #fafafa;
	padding: 20px;
	margin: 20px auto;
	width: 350px;
	border: 1px solid #ccc;
}

.error {
	color: #ff0000;
}