{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
<div class="center">
	<h2>cheeseRox Web</h2>
	{% if log %}
		<p>Hello, {{ userdata.name }}</p>
	{% endif %}
	<form id="form"> 
	  <input type="search" id="query" name="q" placeholder="Search...">
	  <button>Search</button>
	</form>
</div>
<br>
	{% endblock %}
